<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <% if task.completed %>
    <input type="checkbox" checked><%= link_to task.title, show_task_path(task) %>
  <% else %>
    <input type="checkbox"><%= link_to task.title, show_task_path(task) %>
  <% end %>
  <br>
<% end  %>

</a> <%= link_to "Add a new task", new_task_path %>
